@page "/Explore"
@using Core
@using System.Security.Claims
@using MyComponentNamespace
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider Auth
@inject AppState State

<div class="padding-div">
<PageTitle>Explore</PageTitle>

@if (projects == null)
{
    <p><em>Welcome! Log in to see projects.</em></p>

} else {
<h1>Available Projects</h1>

<p>Here is an overview of all the available projects and theses. For a better suited match, go to the Home page.</p>

<Pager AllProjects="@projects" ShowRating="false"></Pager>
}
</div>

@code{
private ProjectDTO[]? projects;

public int UserId {get; set;}

protected override async Task OnInitializedAsync()
    {
        if (!State.LoggedIn) {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}home");
      }
            
        projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects");
        
    }
}