@page "/userpage/preferences"
@using Core
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AppState State

<div @onkeydown="@Enter">

<div class="padding-div" >
<h1>Your preferences</h1>

<p>Which days are you able to meet with your supervisor?</p>
<div class="form-check">
  @foreach (WorkdayEnum day in Enum.GetValues(typeof(WorkdayEnum)))
    {
        <input class="cbox" type="checkbox" @bind="@Daytable[day]" /> <b class="detail2"> @day </b> <br />
    }
</div>

<br>

<p style="height:10px">Which language do you prefer?</p>
  
  <EditForm Model="Lang">
   <InputRadioGroup @bind-Value="Lang">
	@foreach (LanguageEnum lang in Enum.GetValues(typeof(LanguageEnum)))
	{
	 <InputRadio Value="lang" /> <b class="detail2" style="padding-right: 1rem;"> @lang </b>
	}
   </InputRadioGroup>
  </EditForm>

<br>

<p style="height:10px">Do you prefer to work online or on-site?</p>
<EditForm Model="Loc">
   <InputRadioGroup @bind-Value="Loc">
	@foreach (LocationEnum loc in Enum.GetValues(typeof(LocationEnum)))
	{
	 <InputRadio Value="loc" />  <b class="detail2" style="padding-right: 1rem;"> @loc </b>
	}
   </InputRadioGroup>
  </EditForm>
  <br>

<p style="height:10px">Select the subjects you are interested in</p>
<div class="col-xl-6 mb-4">
  <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
      @bind-Value=@multipleValues Multiple="true" Placeholder="Select..." Data=@words TextProperty="Str" ValueProperty="Str"
    Style="width:300px" />
</div>
<button class="btn button" @onclick="Return">Submit</button>

</div>
</div>

@code{
  private IEnumerable<Keyword> words = new List<Keyword>();
    IEnumerable<string> multipleValues = new string[] {"AI"};
  public int UserId {get; set;}
  private PreferencesDTO Prefs;
  public Dictionary<WorkdayEnum, bool> Daytable = new Dictionary<WorkdayEnum, bool>();
  public LanguageEnum Lang;
  public LocationEnum Loc;
  protected override async Task OnInitializedAsync()
    {
      foreach (WorkdayEnum day in Enum.GetValues(typeof(WorkdayEnum))) {
        Daytable[day] = false;
      }
      words = (await Http.GetFromJsonAsync<List<string>>("api/Projects/Keywords"))!.Select(k => new Keyword(k)).ToList();
      if (!State.LoggedIn) {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}home");
      }
        UserId = State.UserId;
        if (UserId != 0)
        {
            Prefs = await Http.GetFromJsonAsync<PreferencesDTO>($"api/Students/Preferences/{UserId}");

            foreach (WorkdayEnum d in Prefs.Workdays) {
              Daytable[d] = true;
            }
            Lang = Prefs.Language;
            Loc = Prefs.Location;
            multipleValues = Prefs.Keywords;
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Return();
        }
    }
    private async void Return(){
      Prefs.Workdays = new List<WorkdayEnum>();
      foreach (var (k, v) in Daytable) {
        if (v) Prefs.Workdays.Add(k);
      }
        Prefs.Language = Lang;
        Prefs.Location = Loc;
        Prefs.Keywords = multipleValues.ToList();

        await Http.PutAsJsonAsync($"api/Students/Preferences/{UserId}", Prefs);

        var uri = $"{NavigationManager.BaseUri}userpage";
        NavigationManager.NavigateTo(uri);
    }

    class Keyword {
        public string Str {get; set;}

        public Keyword(string Str) {
            this.Str = Str;
        }
    }
}