@page "/projects"
@using Core
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyComponentNamespace
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject AppState State
@inject HttpClient Http

<div class="padding-div">
<PageTitle>Projects</PageTitle>

<h1>Your projects</h1>
@if(projects.Count == 0){
    <p>You haven't applied for any projects yet</p>
}else {
<p>Here you can find the projects and theses that you have applied for.</p>
<p>If you want to cancel your application for a specific project please write an email to the supervisor</p>

<Pager AllProjects="@projects" ShowRating="false"></Pager>
}
</div>


@code{

    public int UserId {get; set;}

    private ICollection<ProjectDTO> projects = new List<ProjectDTO>();

    private StudentDTO Student;

     protected override async Task OnInitializedAsync()
    {
        
      if (!State.LoggedIn) {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}home");
      }
        UserId = State.UserId;
        if (UserId != 0)
        {
            Student = await Http.GetFromJsonAsync<StudentDTO>($"api/Students/{UserId}");
            foreach(var projectId in Student.AppliedProjects){
                var project = await Http.GetFromJsonAsync<ProjectDTO>($"api/Projects/{projectId}"
                );
                projects.Add(project);
            }

        }
  }

    private async Task<ProjectDTO> getProjectFromId(int id) => await Http.GetFromJsonAsync<ProjectDTO>($"api/Projects/{id}");
    
    private void View(ProjectDTO project){
        var uri = $"{NavigationManager.BaseUri}details/{project.Id}";
        NavigationManager.NavigateTo(uri);

    }
}