@page "/searchresult/{searchString?}"
@using Core
@inject NavigationManager NavigationManager
@inject AppState State
@inject HttpClient Http

<div class="padding-div">
<PageTitle>searched</PageTitle>

<h1>Successful search</h1>
<p>
    Search String: @searchString
</p>



</div>

@code {
    [Parameter]
    public string? searchString { get; set; }
}