@page "/searchresult/{searchString?}"
@using Core
@using MyComponentNamespace
@inject NavigationManager NavigationManager
@inject AppState State
@inject HttpClient Http

<div class="padding-div">
<PageTitle>searched</PageTitle>
@if (projects == null) {
    <p>No results</p>
}else if (projects.Count() == 0){
    <p>No projects matched your search</p>
} else {

<Pager AllProjects="@projects" ShowRating="false"></Pager>

}


</div>

@code {
    [Parameter]
    public string? searchString { get; set; }

    private ProjectDTO[]? projects;

    protected override async Task OnParametersSetAsync()
    {
        if (searchString != null && searchString.Length != 0) {
            projects = (await Http.GetFromJsonAsync<IEnumerable<ProjectDTO>>($"api/Projects/Search/{searchString}"))!.ToArray();
        }
        

        await base.OnParametersSetAsync();
    }

    private void View(ProjectDTO project){
        var uri = $"{NavigationManager.BaseUri}details/{project.Id}";
        NavigationManager.NavigateTo(uri);
    }
}