.navbar-toggler {
    background-color: #3B457E;
}

.top-row {
    height: 3.5rem;
    background-color: #3B457E ;
    width: 100%;
    position: fixed;
    z-index: 100;
 }

.container-fluid {
    position: fixed;
    z-index: 100;
    background-color: #3B457E;
}

.search {
	overflow: auto;
	border-radius: 5px;
}

.search input[type="text"] {
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

.search input[type="text"]:focus
{
	outline: 0;
}


.navbar-brand {
    font-size: 1.9rem;
    font-family: "Carter One";
    color: #FBD3E9;
}

.logo {
    color: #F586C5;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    width: 100%;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #FDE9F4;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: #F586C5;
    color: BEB0A7;
}

.nav-item ::deep a:hover {
    background-color: #414C8A;
    color: BEB0A7;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display:none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .noCollapse {
        position: fixed;
    }

    #only-on-mobile {
        display:none;
    }
}

@media (max-width:640px) {

    .search {
        display:none;
    }

    .smallDropDown {
        position: fixed;
        background-color: #414C8A;
        width: 100%;
        z-index: 2;
        border-bottom: 2px solid #3B457E;
    }

    #only-on-mobile{
        display:block;
    }

    .entire-nav-system {
        position:sticky;
        z-index: 1;
    }
}
