@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
                <form class="search-form">
					<input class="search-field" type="text" placeholder="Search for a keyword" size="15">
                    <button class="button"type="submit">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                    </button>
				</form>  
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>

