@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
            
                <input class="search-field" type="text" name="keyword" @bind="searchString" placeholder="Search for a keyword" size="15">
                <button class="button"type="submit" @onclick="()=>View()">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                </button>
            
				  
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>


@code{
    private String? searchString;
    
    private void View(){
        var uri = $"{NavigationManager.BaseUri}searchresult/{searchString}";
        NavigationManager.NavigateTo(uri);
    }
}